a {
    text-decoration: none;
}

html, body, #__nuxt, #__layout {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(218, 224, 230);
    font-family: 'redditFont';
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: redditFont;
    src: url(redditFont.woff);
}
